.pager{
				padding-top: 20px;
				ul{
					padding-bottom: 60px;
					text-align: justify;
					li{
						display: inline-block;
						margin: 9px;
						position: relative;
						a{
							text-decoration: none;
						}
					}

					li:nth-child(2){
						right: 15px;
					}

					li:nth-last-child(2){
						left: 15px;	
					}

					li:first-child:before,li:last-child:before{
						a{
							color: #b4b4b4;	
						}
					}
					li:first-child:before,li:nth-child(2):before{
						content: "«";
					}
					li:nth-last-child(2):after,li:last-child:after{
						content: '»'; 
					}
					li:nth-last-child(2),li:last-child,li:first-child,li:nth-child(2){
						a{
							border-bottom: dashed 1px;
						}
							
					}
					li.active{

						border-radius: 50%;
						border: solid 2px #cc1d23;
						padding: 2px;
						a{
							padding: 5px;
							text-decoration: none;
							color: #d35053;
						}
					}
				}
				ul:after{
					width: 100%;
				    height: 0px;
				    visibility: hidden;
				    overflow: hidden;
				    content: '';
				    display: inline-block;
				}
			}