p[data-tooltip],span[data-tooltip],a[data-tooltip]{
	position: relative;
	.tooltip{
		display: block;
		position: absolute;
		line-height: 15px;
		bottom: 33px;
		left: -70px;
		max-width: 200px;
		min-width: 150px;
		transition:0.2s all;
		padding-right: 18px;
		border: solid 1px #37C070!important;
		opacity: 0;
		visibility: hidden;
		display: inline-block;
		min-width: 150px;
		text-align: center;
		text-decoration: none;
		width: auto;
		background: #fff;
		z-index: 222;
		padding-bottom: 3px;
	}
	.tooltip:before{
		content: '';
		position: absolute;
		border: 10px solid transparent;	
		border-top: 10px solid #37C070;
		left: 0px;
		right: 0;
		width: 0;
		margin: auto;
		bottom: -20px;
	}
	.tooltip:after{
		content: '';
		position: absolute;
		border: 10px solid transparent;	
		border-top: 10px solid #fff;
		left: 0px;
		right: 0;
		width: 0;
		margin: auto;
		bottom: -19px;
	}
}

p[data-tooltip]:hover .tooltip,span[data-tooltip]:hover .tooltip,a[data-tooltip]:hover .tooltip{
	visibility: visible;
	opacity: 1;
	bottom: 26px;
}

p[data-tooltip]:hover,span[data-tooltip]:hover,a[data-tooltip]:hover{
	
}